name: Running tests

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.7', '3.8', '3.9', '3.10']

    steps:
      - uses: actions/checkout@v3
      - name: Set up python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.pyhton-version }}
          cache: pip
      - name: Install Python Dependencies
        run: |
          pip3 install -U pip virtualenv
          pip3 install tox tox-gh-actions pytest
      - name: Run tox
        run: tox
